In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [2]:
SUPPLEMENTARY_TABLES_PATH="/Users/ochapman/projects/pedpancan_ecdna/data/Supplementary Tables.xlsx"

def import_patients():
    return pd.read_excel(SUPPLEMENTARY_TABLES_PATH,sheet_name="1. Patients",index_col=0)
def import_biosamples():
    return pd.read_excel(SUPPLEMENTARY_TABLES_PATH,sheet_name="2. Biosamples",index_col=0)
def import_amplicons():
    return pd.read_excel(SUPPLEMENTARY_TABLES_PATH,sheet_name="3. Amplicons")
def import_genes():
    return pd.read_excel(SUPPLEMENTARY_TABLES_PATH,sheet_name="4. Gene amplifications")
BIOSAMPLES = import_biosamples()

In [3]:
PATIENTS = import_patients()

In [5]:
PATIENTS.groupby('sex').count()

,age_at_diagnosis,cohort,cancer_type,cancer_subclass,amplicon_class,OS_status,OS_months
sex,,,,,,,
Female,601,632,632,393,632,591,528
Male,722,753,753,495,753,711,636

In [22]:
m = PATIENTS.age_at_diagnosis.mean()
sd = PATIENTS.age_at_diagnosis.std()
print(f"Patient cohort had mean age {m/365.25} with standard deviation {sd/365.25}")

Patient cohort had mean age 8.688073602119472 with standard deviation 6.020247281352094

1444

0.543682310469314